.navbar-trigger-area {
  width: 20px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: transparent;
  z-index: 10;
}

.admin-navbar {
    width: 200px;
    background-color: #EFF6FF; 
    padding: 16px;
    height: 100%;
  }
  
  .admin-nav-item {
    width: 100%;
    border-radius: 9999px;
    padding: 8px 16px;
    margin-bottom: 12px;
    text-align: center;
    background-color: #DBEAFE; 
    color: #1E3A8A; 
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
    border: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .admin-nav-item:hover {
    background-color: #fcfcfc; 
    transform: scale(1.05); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .admin-nav-item.active {
    background-color: #3B82F6;
    color: white;
  }
  
  .admin-info-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-left: 4px;
    font-size: 12px;
    color: white;
    background-color: #2563EB; 
    border-radius: 50%;
  }
  
  