# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual Environment
alhbp/
# baaki log isme apne venv ka naam daal dena taaki galti se vo push na kar do github pe.

# Django/Migrations
*/migrations/*
!*/migrations/__init__.py

# # SQLite Database (If using SQLite)
# db.sqlite3

# Logs
*.log
*.log.*

# IDE Files
.vscode/
.idea/

# Static Files
generatedstaticfiles/

# Other
.DS_Store
Thumbs.db

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?